<div class="min-h-screen bg-gray-900 text-white px-4 py-6">
  <h1 class="text-4xl font-bold text-center mb-8">Lista de Pokémons</h1>

  <div *ngIf="pokemonList.length > 0; else noData" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
    <div *ngFor="let pokemon of pokemonList; let i = index" [ngStyle]="{ 'background-color': getPokemonColor(i) }" class="bg-gray-800 rounded-lg shadow-lg p-6 hover:shadow-xl transition-shadow duration-300 ease-in-out transform hover:scale-105">
      <h2 class="text-xl font-semibold text-white capitalize">{{ pokemon.name }}</h2>
      <img [src]="'https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/' + (i + 1) + '.png'" alt="{{ pokemon.name }}" class="w-24 h-24 mx-auto">
      <a [routerLink]="['/details', getPokemonId(pokemon.url)]" class="text-white font-semibold hover:underline mt-4 inline-block">Ver mais detalhes</a>
    </div>
  </div>

  <ng-template #noData>
    <p class="text-center text-gray-500">Nenhum Pokémon encontrado.</p>
  </ng-template>
</div>
